*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Roboto', sans-serif;
  width: 100%; 
  background-color: #0b192f;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{ 
  width: 61.2vw;
  height: 5vw;
  background-color: #162b4d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.logo{
  margin-left: 2vw;
  font-size: 1.6vw;
  font-weight: 200;
  cursor: pointer;
}
.red {
  color: #d12767;
}
.nav{
  height: 100%;
}
.nav ul{
  list-style-type: none;
  display: flex;
  height: 100%;
  margin-right: 1vw;
}
.nav li{
  height: 100%; 
  cursor: pointer;
  font-size: 1.1vw;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  padding-right: 1vw;
}
.header li:hover{
  background-color: #283d5f;
}
.lines{ 
  user-select: none;
  cursor: pointer;
  display: none;
}
.lines div{ 
  width: 20px;
  border: 1px solid #fff;
  margin-top: 1vw;
}
.main{ 
  margin-top: .8vw;
  width: 61.2vw;
  display: flex; 
  justify-content: space-between;
}
.blog{
  width: 74.5%;
  display: flex;
  flex-direction: column-reverse;
}
.block{
  width: 100%;
  display: flex;
}
.block:nth-child(odd){
  flex-direction: row-reverse;
}
.text-side{
  width: 50%;
  height: 100%;
  cursor: pointer;

}
.img-side{
  width: 50%;
  height: 100%;
  cursor: pointer;
}
.text-side{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
  color: #fff;
  padding-right: 2vw; 
  font-family: roboto;
} 
.block:nth-child(odd) .text-side{
  align-items: flex-start;
  text-align: left;
  padding-left: 2vw;
}
.title{
  width: 60%;
  font-weight: 300;
  font-size: 2.4vw;
  line-height: 2.5vw;
} 
.text-side p{
  width: 70%;
  font-weight: 100;
  margin-top: 1vw; 
  font-size: 1vw;
  line-height: 1.5vw;
  color: #fff;
}
.date{
  position: absolute;
  top: 0;
  left: 0;
  margin: .7vw;
  font-size: 3vw;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.2)
}
.month{
  font-size: 2vw;
}
.block{
  position: relative;
}
.block:nth-child(odd) .date{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: .7vw;
  text-align: right;  
}
.block-1{ 
  height: 21.5vw;
	background: #B71757;
}
.post-1{
	background: #B71757;
}
.img-side:hover{
  filter: opacity(.7);
}
.block-2{ 
  height: 18vw;
	background: #0D7E71;
}
.post-2{
	background: #0D7E71;
}
.block-3{ 
  height: 19vw;  
	background: #b1660e;
}
.post-3{
	background: #b1660e;
}
.block-4{ 
  height: 19vw;
	background: #d12767;
}
.post-4{
	background: #d12767;
}
.post-5{
  width: 95.7%;
  height: 10vw;
  background: #2d95bb; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2vw;
  position: relative;
  color: #fff;
}
.post-5 h1{
  font-weight: 300;
  font-size: 2.35vw;
}
.post-5 p{
  line-height: 1.5vw;
  width: 80%;
  font-size: 1vw;
  color: rgba(255, 255, 255, 0.7);
} 
.title-date{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: .5vw;
  margin-right: .5vw;
  font-size: 2.5vw ; 
  color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
}
.aside{ 
  width: 23%;
  display: flex;
  flex-direction: column;
}
.aside:after{
  content: "author: Roman Krychkovskyy";
  font-size: 2vw;
  color: #fff;
  display: none;
}
.news {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5vw;
  cursor: pointer;
}
.news img{
  width: 100%;
}
.news h3{
  margin-top: 1.5vw;
  width: 80%;
  font-size: 1.5vw;
  font-weight: 400;
}
.news p{
  width: 80%;
  font-size: .9vw;
  margin-top: .5vw;
  margin-bottom: 1.5vw;
  line-height: 1.4vw;
  color: rgba(0, 0, 0, 0.7);
}
.footer{
  margin: .8vw 0 .8vw 0;
  width: 61.2vw;
  height: 5.5vw;
  background-color: #162b4d;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  color: rgba(255, 255, 255, 0.5);
  font-size: 1vw;
}
.copyright{
  margin-left: 1vw;
}
.design{
  width: 15%; 
  margin-right: .5vw;
}
@media screen and (max-width: 768px){
   .header{
     flex-direction: column-reverse;  
     width: 98vw;
     height: 13vw;
     padding: 3vw 0;
   }
   .logo{
     font-size: 3vw;
   }
   .nav{
     display: none;
   }
   .lines{
     display: block;
   }
   .main{
    width: 98vw;
   }
   .blog{
     width: 60%;
   }
   .aside{
     width: 39%;
   }
   .news h3{
     font-size: 3vw;
     margin-top: 3vw;
   }
   .news p{
     font-size: 2vw;
     line-height: 2.2vw;
     margin-bottom: 3vw;
   }
   .block{
     display: flex;
     flex-direction: column-reverse; 
     overflow: hidden;
     height: 100vw;
   }
   .block:nth-child(odd){
     flex-direction: column-reverse;
   }
   .text-side{
    width: 100%;
    height: 45%;
    align-items: center;
    justify-content: flex-start;
   }
   .block:nth-child(odd) .text-side{ 
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: flex-start;
   }
   .title{
     width: 80%;
     font-size: 6vw;
     line-height: 6vw;
     text-align: left;
     margin-top: 3vw;
   }
   .text-side p{
     width: 80%;
     text-align: left;
     margin-top: 2vw;
     font-size: 2.2vw;
     line-height: 3vw; 
   }
   .date{ 
     position: relative;
     font-size: 5vw;
     margin-top: 5vw;
   }
   .month{
     font-size: 3.5vw;
   }
   .block:nth-child(odd) .date{
    position: relative;
    font-size: 5vw;
    margin-top: 5vw;
  }
  .post-5{
    width: 96.5%;
    height: 40vw;
    align-items: center;
    justify-content: flex-start; 
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
  .post-5 h1{
    font-size: 7vw;
    font-weight: 200;
  }
  .post-5 p{
    font-size: 2vw;
    width: 100%;
    line-height: 3vw;
    margin-top: 2.4vw;
  }
  .title-date{
    position: relative; 
    margin-top: 7vw;
    font-size: 5vw ; 
    color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
  }
  .img-side{
   width: 100%;
   height: 55%;
  }
  .footer{
    width: 98vw;
    height: 20vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vw;
  }
}
@media screen and (max-width: 480px){
  .header{
    flex-direction: column-reverse;  
    width: 98vw;
    height: 20vw;
    padding: 3vw 0;
  }
  .logo{
    font-size: 5vw;
  }
  .nav{
    display: none;
  }
  .lines div{
    width: 5vw;
    display: block;
    margin-top: 1.5vw;
  }
  .main{
   width: 98vw;
   display: flex;
   flex-direction: column;
  }
  .blog{
    width: 100%;
  }
  .aside{
    width: 100%;
  }
  .news h3{
    font-size: 6.5vw;
    margin-top: 7vw;
  }
  .news p{
    font-size: 4vw;
    line-height: 4vw;
    margin-top: 2vw;
    margin-bottom: 7vw;
  }
  .block{
    display: flex;
    flex-direction: column-reverse; 
    overflow: hidden;
    height: 140vw;
  }
  .block:nth-child(odd){
    flex-direction: column-reverse;
  }
  .text-side{
   width: 100%;
   height: 45%;
   align-items: center;
   justify-content: flex-start;
  }
  .block:nth-child(odd) .text-side{ 
   width: 100%;
   height: 50%;
   align-items: center;
   justify-content: flex-start;
  }
  .block-2 .img-side{
    height: 55%;
  }
  .block-2 .text-side{
    height: 45%;
  }
  .block-1 .img-side{
    height: 60%;
  }
  .block-1 .text-side{
    height: 40%;
  }
  .title{
    width: 80%;
    font-size: 9vw;
    line-height: 9vw;
    text-align: left;
    margin-top: 3vw;
  }
  .text-side p{
    width: 80%;
    text-align: left;
    margin-top: 2vw;
    font-size: 3.2vw;
    line-height: 5vw; 
  }
  .date{ 
    position: relative;
    font-size: 9vw;
    margin-top: 10vw;
  }
  .block:nth-child(odd) .date{
   position: relative;
   font-size: 9vw;
   margin-top: 2vw;
 }
 .block-3:nth-child(odd) .date{
  position: relative;
  font-size: 9vw;
  margin-top: 15vw;
}
 .month{
   font-size: 5vw;
 } 
 .block-2 .date{
  margin-top: 14vw;
 } 
 .block-4 .date{
  margin-top: 7vw;
 } 
 .post-5{
   width: 98%;
   height: 60vw;
   align-items: center;
   justify-content: flex-start; 
   padding-top: 5vw;
   padding-bottom: 5vw;
 }
 .post-5 h1{
   font-size: 11vw;
   font-weight: 200;
 }
 .post-5 p{
   font-size: 4vw;
   width: 100%;
   line-height: 5vw;
   margin-top: 3vw;
 }
 .title-date{
   position: relative; 
   margin-top: 4vw;
   font-size: 9vw ; 
   color: rgba(255, 255, 255, 0.2);
   display: flex;
   flex-direction: column;
 }
 .img-side{
  width: 100%;
  height: 50%;
 }
 .footer{
   width: 98vw;
   height: 30vw;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 3vw;
 }
 .design {
   width: 25%;
 }
}