$bodyColor: #fff;
$bodyFamily: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$aColor: #ecece7;
$imgHeaderBack: url(../img/header_background_v1.jpg) no-repeat;
$headerTitle: #ecece7;
$headerButton: #01acac;
$artBackColor: #efefef;
$toolbarInpBor: #607d8b;
$inputBackColor: #fff;
$inpBorder: #607d8b;
$blogColor: #000;
$adminColor: rgb(255, 0, 0);
$adminLine: #607d8b;
$artTitle: #0097a7;
$paragraphColor: #000;
$artButton: #01acac;
$aboutUsTitle: #000; 
$contactColorTitle: #000;
$colorLabel: #01acac;
$contactButton: #01acac;