body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; }
  body .main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    body .main-wrapper header {
      width: 100%;
      height: 48vw;
      background: url(../img/header_background_v2.jpg) no-repeat;
      background-position: center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center; }
      body .main-wrapper header .top-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start; }
        body .main-wrapper header .top-wrapper .logo img {
          width: 16vw; }
        body .main-wrapper header .top-wrapper nav {
          display: flex; }
          body .main-wrapper header .top-wrapper nav a {
            color: #ff5722;
            text-decoration: none;
            font-size: 1vw;
            font-weight: bold;
            text-transform: uppercase;
            border-right: 2px solid #607d8b;
            width: 17vw;
            padding: 1.5vw;
            display: block;
            text-align: center; }
            body .main-wrapper header .top-wrapper nav a:last-child {
              border: none; }
      body .main-wrapper header section {
        margin-top: 16vw;
        display: flex;
        flex-direction: column;
        align-items: center; }
        body .main-wrapper header section h1 {
          text-transform: uppercase;
          color: #ff5722;
          font-size: 1.5vw; }
        body .main-wrapper header section .btn {
          text-transform: uppercase;
          background-color: #0401ac;
          color: #fff;
          display: block;
          padding: 1vw 4vw;
          text-decoration: none; }
    body .main-wrapper main {
      width: 66%;
      display: flex;
      flex-direction: column;
      align-items: flex-end; }
      body .main-wrapper main .toolbar input {
        border: 1px solid #607d8b;
        padding: .7vw 0 .7vw 1vw;
        margin-top: .9vw;
        margin-right: .5vw;
        background-color: #efefef;
        border: 1px solid #cfd8dc; }
      body .main-wrapper main #list h1 {
        text-align: right;
        text-transform: uppercase;
        margin-top: .97vw;
        color: #757575;
        font-size: 1.5vw; }
      body .main-wrapper main #list article {
        margin-top: -1vw;
        margin-bottom: 2vw;
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start; }
        body .main-wrapper main #list article img {
          width: 19vw;
          margin: .6vw .6vw .6vw .6vw; }
        body .main-wrapper main #list article div {
          padding: .3vw .4vw 0 0; }
          body .main-wrapper main #list article div .post .post-description {
            color: #c3c3d4;
            font-size: .8vw;
            border-bottom: 1px solid #cfd8dc;
            padding-bottom: .5vw; }
          body .main-wrapper main #list article div h3 {
            color: #607d8b;
            margin-top: .5vw;
            margin-bottom: 0;
            font-size: 1.5vw; }
          body .main-wrapper main #list article div p {
            font-size: 1vw;
            line-height: 1.5vw;
            color: #757575; }
        body .main-wrapper main #list article .btn {
          float: right;
          text-transform: uppercase;
          color: #fff;
          width: 15vw;
          background-color: #0401ac;
          padding: .9vw 0;
          border: none;
          cursor: pointer; }
    body .main-wrapper #about div h1 {
      text-align: right;
      text-transform: uppercase;
      margin-bottom: -.7vw;
      color: #757575; }
    body .main-wrapper #about div p {
      font-size: 1.1vw;
      color: #757575; }
    body .main-wrapper #about img {
      width: 100%; }
    body .main-wrapper #contact {
      width: 100%; }
      body .main-wrapper #contact h1 {
        text-align: right;
        margin-bottom: 0;
        color: #757575; }
      body .main-wrapper #contact h4 {
        margin-top: 0;
        text-align: right;
        color: #757575; }
      body .main-wrapper #contact form {
        width: 100%;
        display: flex;
        flex-wrap: wrap; }
        body .main-wrapper #contact form div {
          width: 49.5%;
          display: flex;
          flex-direction: column; }
          body .main-wrapper #contact form div:nth-child(2) {
            margin-left: 1%; }
          body .main-wrapper #contact form div:nth-child(3) {
            margin-top: 2vw;
            width: 100%; }
          body .main-wrapper #contact form div:last-child {
            margin-top: 1vw;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end; }
          body .main-wrapper #contact form div label {
            color: #607d8b;
            text-align: right;
            font-size: 1vw;
            padding-bottom: .3vw; }
          body .main-wrapper #contact form div input {
            padding: .8vw;
            background-color: #efefef;
            border: 1px solid #cfd8dc; }
          body .main-wrapper #contact form div textarea {
            background-color: #efefef;
            border: 1px solid #cfd8dc; }
          body .main-wrapper #contact form div button {
            border: none;
            padding: .8vw 6vw;
            background-color: #0401ac;
            text-transform: uppercase;
            color: #fff; }
    body .main-wrapper footer {
      width: 97%;
      padding-bottom: 1vw;
      color: #757575; }
